@using CafeClientWeb.Models;
@using CafeClientWeb.DAO;
@model List<HANGSX>
<div class="header">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <ul>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="">winsbu1997@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0981188304</li>
                    @if (Session["Member"] == null)
                    {
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/Home/Login">Đăng nhập</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/Home/Register">Đăng kí</a></li>
                    }
                    else
                    {
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="@Url.Action("OrderByUser","Cart")">Xin Chào! @Session["Member"]</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/Home/Logout">Đăng xuất</a></li>
                    }

                </ul>
            </div>
            <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                <ul class="social-icons">
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="g"></a></li>
                    <li><a href="#" class="instagram"></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="@Url.Action("Index","Home")">Cafe Latte<span>236 HOÀNG QUỐC VIỆT</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" class="act">Trang Chủ</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản Phẩm<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                @*<h6>Hãng</h6>*@
                                                @foreach (var item in Model)
                                                {
                                                    var url = Url.Action("AdvancedSearchView", "Search", new { @hangsx = item.TEN });
                                                    <li><a href="@url">@item.TEN</a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/Home/TinBai/">Tin Bài</a></li>
                            <li><a href="/Home/mail/">Liên hệ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="logo-nav-right">
                @{ Html.RenderPartial("Find", "Home");}
                <!-- search-scripts -->
                <script src="~/assets/js/classie.js"></script>
                <script src="~/assets/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
            </div>
            @{ Html.RenderAction("CartHeader", "Cart");}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
